.footer {
    height: 180px;
    margin-left: 24px;
    margin-right: 24px;
    border-top: 1px solid black;
    display: flex;
    width: calc(100vw - 48px);
    box-sizing: border-box;
}

.footerLeft {
    width: 43%;
    padding-top: 12px;
    text-align: left;
}

.footerBrand {
    font-weight: bold;
    font-size: 1.2rem;
    color: black;
    margin: 0;
    text-align: left;
}

.footerRight {
    width: 57%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.75rem;
    padding-top: 12px;
}

.footerColumn {
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 14px;
    color: black;
}

.footerColumn p {
    margin: 0;
    color: black;
    text-align: left;
}

.footerEmail {
    font-size: 14px;
}

.footerPhone {
    font-size: 14px;
}
