.landingPage {
    position: relative;
    width: 100vw;
}

.landingFullMedia {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}

.landingFullMedia img {
    width: 100vw;
    height: auto;
    object-fit: contain;
}

.landingHeroText {
    position: absolute;
    bottom: clamp(15px, 2.5vw, 25px);
    left: clamp(15px, 2.5vw, 25px);
    color: white;
    font-size: clamp(1rem, 2.5vw, 1.5rem);
    font-weight: 600;
    z-index: 2;
    transition: opacity 0.3s ease;
}

.landingHeroText.fixed {
    position: fixed;
    z-index: 1001;
    pointer-events: none;
}

.landingHeroText.hidden {
    opacity: 0;
    pointer-events: none;
}

@media screen and (max-width: 768px) {
    .landingHeroText {
        bottom: 15px;
        left: 15px;
        font-size: 1rem;
    }
}

.landingSection {
    display: flex;
    width: 100vw;
    position: relative;
    height: 925px;
}

.landingSectionImage {
    width: 50%;
    height: 100%;
    display: block;
    overflow: hidden;
    cursor: pointer;
    transition: opacity 0.3s ease;
    position: relative;
}

.landingSectionImage:hover {
    opacity: 0.9;
}

.landingSectionImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.landingSectionText {
    position: absolute;
    bottom: 15px;
    left: 15px;
    font-size: 1.5rem;
    font-weight: 300;
    z-index: 2;
    pointer-events: none;
}

.landingSectionText.sunglassesText {
    color: black;
}

.landingSectionText.eyeglassesText {
    color: white;
}

.landingNYCSection {
    width: 100vw;
    height: 630px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.landingNYCSection p {
    margin: 0;
}

@media screen and (max-width: 1023px) {
    .landingFullMedia img {
        max-height: 100vh;
    }
}